

#cajafondo{
position: absolute;
width: 850px;
height: 622px;
margin-top: 62px;
margin-left: -400px;

}

body {
  float: left;
    text-align: center;
    align-items: center;
   width: 100%;
   height: 100%;
   font-family: monospace;
   font-size: medium;
  }

  #rappilogo{
    margin-top: 80px;
    display: block;
    margin-left: 25px;
  }
  
  #game-board {
    font-size: 30px;
    text-transform: uppercase;
  }
  
  body button {
    display: inline;
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    
    margin-left: 100px;
  }
  


  #rappiamigo{
    position: absolute;
    text-align: center;
    align-items: center;
   width: 60%;
   height: 60%;
   margin-left: -140px;

  }



  #key{
    position: absolute;
    text-align: center;
    align-items: center;
   width: 27%;
   height: 45%;
   margin-left: 450px;
   margin-top: 30px;
  }

  #applestore{
position: absolute;
width: 176px;
height: 55px;
margin-left: -155px;
margin-top: 30px;
  }


  #googlestore{
    position: absolute;
    width: 200px;
    height: 81px;
    margin-left: -166px;
    margin-top: 90px;
      }

          #pide{
            position: absolute;
            width: 200px;
            height: 86px;
            margin-left: -166px;
            margin-top: -65px;
              }